<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
</head>

<body>

<link rel='stylesheet' href='bootstrap.min.css'>
<link rel='stylesheet' href='jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.css'>
<link rel='stylesheet' href='mystyle.css'>

<div id="dialog" title="FSE Chatrrom">
	<form id="nameForm" action="/enter" method="post">
		<label for="name">Input your name:</label>
		<input id="name" name="name" type="text"/>
	</form>
</div>

<div class="container-fluid">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<h2> Chat Room </h2>
		</div>

		<div id="chatRoom" class="room-body">
			ul#chatList
				each item in chats
					li= item
		</div> 

		<br>
		<div id="myContent">
			<form id="chatForm" action="/chat" method="post">
				<label for="chatContent">Chat</label>
				<input id="chatContent" name="chatContent" type="text" />
				<input id="chatUser" name="chatUser" type="hidden" value="Anonymous"/>
				<input class="btn btn-primary" type="submit" value="Send" />
			</form>
		</div>
	</div>
</div>

</body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src='jquery.js'></script>
<script src='jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.js'></script>
<script src='underscore/underscore-min.js'></script>
<script src='client.js'></script>

